/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  margin: 0 auto;
  max-width: 1600px;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}

#section-header {
  max-width: 350px;
  padding: 1em;
  margin: 0 auto;
}

#section-navigation {
  text-align: center;
}

#sidebar-second .view-advertisements .views-row {
  display: inline-block;
}

@media only screen and (min-width: 480px) {

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }

}

@media only screen and (min-width: 769px) {

  #section-header {
    width: 30%;
    display: inline-block;
  }

  #section-navigation {
    text-align: left;
    display: inline-block;
  }

  #section-header a#logo img {
    display: inline-block;
  }

  #content {
    float: left;
    margin-right: -100%;
    padding: 0;
    width: 100%;
  }

  .two-sidebars #content-inner {
    margin-left: 200px;   /* Left Sidebar width */
    margin-right: 200px;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 200px;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 200px;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -200px;
    width: 200px;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 200px;
  }

  /* News blocks arrangement front page and looking glass front page */
  .front #block-views-topics-block,
  .front #block-views-topics-block-1,
  .front #block-views-topics-block-2,
  .front #block-views-topics-block-3,
  .front #block-views-topics-block-4,
  .front #block-views-topics-block-5,
  .front #block-views-topics-block-6,
  .front #block-views-topics-block-7,
  .front #block-views-topics-block-8,
  .page-node-2372 #block-views-lg-topics-block,
  .page-node-2372 #block-views-lg-topics-block-2,
  .page-node-2372 #block-views-lg-topics-block-3,
  .page-node-2372 #block-views-lg-topics-block-4 {
    display: inline-block;
    padding: 0 1em 1em 0;
    vertical-align: top;
    width: 32%;
  }

}
@media only screen and (min-width: 844px) {

  #section-footer .region-footer {
    list-style: none;
    list-style-image: none;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: center;
    -webkit-justify-content: center;
  }

  #block-hfcc-global-hfcc-global-footer-message,
  #block-hfcc-global-hfcc-global-footer-links {
    width: 100%;
  }

  #section-footer #block-mysite-mysite-hfc-logo,
  #section-footer #block-menu-menu-about-menu,
  #section-footer #block-menu-menu-affiliate-sites,
  #section-footer #block-menu-menu-topics,
  #section-footer #block-menu-menu-looking-glass-topics,
  #section-footer #block-mysite-mysite-homepage-news,
  #section-footer #block-hfccbane-event0 {
    padding: 1em;
  }
}

@media only screen and (min-width: 960px) {

  .two-sidebars #content-inner {
    margin-left: 23%;   /* Left Sidebar width */
    margin-right: 23%;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 23%;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 23%;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -23%;
    width: 20%;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 23%;
  }

}

@media only screen and (min-width: 1200px) {

  #page {
    width: 90%;
  }

}
