/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  background: #bbb;
  color: #222;
}

#page {
  background: #fefefe;
  border-left: 2px solid rgba(0, 0, 0, .4);
  border-right: 2px solid rgba(0, 0, 0, .4);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  height: 100%;
}

#section-header #name-and-slogan {
  display: none;
}

#section-main {
  background-color: #fefefe;
}

#content-inner {
  box-shadow: 6px 0 5px -4px rgba(0, 0, 0, .2);
  padding: 0.5em;
}

#sidebar-second {
  padding: 1em;
}

#sidebar-second ul {
  margin: 0;
}

#sidebar-second .view-id-advertisements {
  text-align: center;
}

#sidebar-second #block-views-most-popular-block,
#sidebar-second #block-views-most-recent-block-mirror {
  background: #ddd;
  padding: 0.5em;
  margin: 1em 0;
}

#sidebar-second #block-views-most-popular-block li.leaf,
#sidebar-second #block-views-most-recent-block-mirror li.leaf {
  margin: 0.5em 0;
}

#section-footer {
  background-color: #ddd;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  margin: 1rem;
  padding: 1em;
  text-align: center;
  color: #454545;
}

#section-footer a {
  color: #454545;
}

/* Fixing mystery extra spacing on image fields */
.views-field-field-hero-banner-picture,
.views-field-field-pic-teaser,
.views-field-field-photo,
.field-name-mysite-hfccnews-photo-teaser,
.field-name-field-pic-article {
  line-height: 0;
}

/** Styling for blocks **/

#block-mysite-mysite-homepage-news,
#section-footer #block-menu-menu-about-menu,
#section-footer #block-menu-menu-affiliate-sites,
#block-hfccbane-event0 {
  text-align: left;
  max-width: 350px;
  margin: 0 auto;
}

#block-mysite-mysite-homepage-news .field-name-mysite-hfccnews-photo-teaser {
  display: inline-block;
  max-width: 75px;
  vertical-align: top;
}

#block-mysite-mysite-homepage-news article {
  margin: 0 0 1em;
}

#block-mysite-mysite-homepage-news .article-title {
  display: inline-block;
  max-width: 220px;
  vertical-align: top;
}

#section-footer #block-mysite-mysite-hfc-logo {
  max-width: 200px;
  margin: 0 auto;
}

#section-footer #block-hfcc-global-hfcc-global-footer-links ul {
  text-align: center;
}

#section-footer #block-hfcc-global-hfcc-global-footer-links li {
  display: inline;
  padding: 0 2px;
}

#section-footer #block-hfcc-global-hfcc-global-footer-links a {
  text-decoration: underline;
}

#section-footer #block-hfcc-global-hfcc-global-footer-message a:hover,
#section-footer #block-hfcc-global-hfcc-global-footer-message a:focus {
  text-decoration: none;
}

/** Styling for nodes **/

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

/* Article Nodes */

.node-article .field-name-field-author-title,
.node-article .field-name-field-byline {
  font-weight: 700;
}

.node-article .field-name-field-photo-credit {
  font-style: italic;
}

.node-article .group-article-byline {
  border-bottom: 1px solid #ccc;
  margin: 0 0 2em 0;
}

.node-article .group-article-photo {
  float: left;
  padding: 0 1em 0.3125em 0 !important;
}

.node-article .field-name-field-pic-article {
  max-width: 600px;
  max-height: 600px;
}

.node-article .field-name-field-pic-article img {
  max-height: 600px;
}

.node-article .field-name-field-photo-credit {
  text-align: center;
}

.tag a {
  background-color: #06c;
  border-radius: 3px;
  color: #fff;
  font-family: 'Pragati Narrow', sans-serif;
  padding: 0 5px;
  white-space: nowrap;
}

/* Front Page theming */

.front #section-main .block > h2:first-child {
  border-bottom: 1px solid #ccc;
}

.front #block-views-featured-block .views-field-field-pic-teaser{
  width: 30%;
  max-width: 350px;
}

.front .view-topics .views-field-field-pic-teaser {
  max-width: 60px;
}

.front .view-topics .views-field-title {
  min-height: 41px;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.382em 0 0;
}

.node .content .links a {
  background: #ffa;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/** Media Queries **/

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1200px) {
  #content-inner {
    padding: 1.5em;
  }
}
